# Entorno virtual
.venv/
env/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Config local
.python-version
.env
.codex

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.nav
*.snm

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
